<div class="offcanvas offcanvas-end" id="editOffcanvas" tabindex="-1" role="dialog" data-bs-scroll="false"></div>
<div class="offcanvas offcanvas-end" id="offcanvasRight" style="width:700px;" tabindex="-1" role="dialog" data-bs-scroll="false"></div>