# Ignore autoload.php
autoload.php

# Ignore vendor directlroy
/vendor/

# Ignore any other files or directories as needed
/.idea
/.idea/SkyCliffCare.iml

cache/*/*.php
caches/
/app/twig_cache/
twig_cache/
