<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkyCliff {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/vendor/fortawesome/font-awesome/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">



    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/">Skycliff Center {% block navtitle %}{% endblock %}</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/careplans">Care Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/participants">Participants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assessments">Assessments</a>
            </li>
        </ul>
    </div>
</nav>


{% block body %}{% endblock %}

<!-- Footer -->
{#<footer class="page-footer font-small blue fixed-bottom">#}

{#    <!-- Copyright -->#}
{#    <div class="footer-copyright text-center py-1">© 2020 Copyright:#}
{#        <a href="/"> tome.net</a>#}
{#    </div>#}
{#    <!-- Copyright -->#}

{#</footer>#}
{% include "footer.twig" %}

<!-- Footer -->

{% block modal %} {% endblock %}
{% block modal2 %} {% endblock %}
{% block errorModal %} {% endblock %}


</body>

<script src="/js/perform-event-functions.js"></script>
<script src="/js/button-events.js"></script>
<script src="/js/main.js"></script>
</html>