<!DOCTYPE html>
<html>
<head>
    <title>Your Website Title</title>
    <!-- Include Bootstrap CSS via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar, Header, or other shared elements -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Navbar content here -->
</nav>

<!-- Content from child templates will be placed here -->
{% block content %}
{% endblock %}

<!-- Include Bootstrap JS via CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>