{% extends 'base.twig' %}

{% block title %}
    - Careplan Details
{% endblock %}

{% block navtitle %}
    - Careplan Details
{% endblock %}
{% block body %}
    <!-- Specific content for template1.twig -->

    <div class="container">
        <div class="row">
            <div class="col-xs-6">


                <form action="/lib/visit_update.php" method="GET">

                    <div class="form-group">
                        <label for="careplan-date" class="control-label">Careplan Date</label>
                        <input type="date" name="careplanDate" id="careplan-date"
                               value="{{ careplane.careplan_date }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="careplan-present-health" class="control-label">Present Health</label>
                        <input type="text" name="careplanPHealth" id="careplan-present-health"
                               value="{{ careplan.present_health }}" class="form-control" />
                    </div>


                    <div class="form-group">
                        <label for="careplan-assistive-devices" class="control-label">Assistive Devices</label>
                        <input type="text" name="careplanAssDevices" id="careplan-assistive-devices"
                               value="{{ careplan.assistive_devices }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="careplan-notes" class="control-label">Notes</label>
                        <textarea name="careplanNotes" id="careplan-notes"
                                  class="form-control">{{  careplan.notes }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-heart"></span>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
