{% extends 'base.twig' %}

{% block body %}
    <!-- Specific content for template1.twig -->
    <div class="container">
        <h1>Sorry, this page doesn't exist
        <br>Please chek the URL or go back a page.
        </h1>
        <p>Error: {{ param1 }}</p>
    </div>
{% endblock %}