<div id="footer" class="card bg-body opacity-75 text-body-secondary border-0 mt-3 fixed-bottom">
    <div class="text-center text-xs fst-italic my-auto">
        &copy; Copyright 2019-{{ now | date('Y') }} Tome.net, All rights reserved.
    </div>
</div>