
<div id="content">
    <!-- Your content goes here -->

<div id="footer" class="card bg-body opacity-75 text-body-secondary border-0 mt-3">
    <div class="text-center text-xs fst-italic my-auto">
        &copy; Copyright 2023-{{ now | date('Y') }} Tome.net, All rights reserved.
    </div>
</div>
</div>