{% extends 'base.twig' %}

{% block body %}
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <h1>Skycliff Center</h1>
            <p>Maintian patient Care Plans here</p>

            <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
        </div>
    </header>

    <div class="jumbotron">
        <div class="container">
            <h1><?php echo strtoupper(strtolower($cleverWelcomeMessage)); ?></h1>


        </div>
    </div>
    <!-- Container to display the loaded content -->
    <div id="contentContainer"></div>
{% endblock %}
