{% extends 'base.twig' %}

{% block body %}
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <h1>Skycliff Center</h1>
            <p>Maintian patient Care Plans here</p>

            <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
        </div>
    </header>

    <div class="jumbotron">
        <div class="container">
            <h1><?php echo strtoupper(strtolower($cleverWelcomeMessage)); ?></h1>

            <p>Over <?php echo $visitCount ?>Participant Records</p>
            <p><a href="careplans" class="btn btn-primary btn-lg">Care Plans</a></p>
            <p><a href="participants" class="btn btn-primary btn-lg">Participant List</a></p>
            <p><button id="fetchButton" class="btn btn-primary btn-lg fetchButton" data-id="list">fetchButton event - replace entire screen TEST</button></p>
            <p><button id="testButton" class="btn btn-primary btn-lg testButton" data-id="list">displayItem testButton event - should do new URL TEST</button></p>
            <p><button id="displayPageButton" class="btn btn-primary btn-lg displayTestButton" data-id="temmplate1">testing Display</button></p>
            <p><button id="displayPageButton" class="btn btn-primary btn-lg displayTestButton" data-id="careplans">testing Careplans</button></p>
            <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}
