
    <div class="modal fade" tabindex="-1" id="confirm-logoff-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Logoff</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    Are you sure you want to Log Off?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel do not Log Off
                    </button>
                    <td class="signout">
                        <button id="modalSignoutButton" class="btn btn-danger signout" data-bs-dismiss="modal">Log Off</button>
                    </td>
                </div>
            </div>
        </div>
    </div>

