<div style="max-width: calc(100% - (100% / 12 * 2));" class="gx-0">
<nav class="navbar navbar-expand-md bg-primary">
    <a class="navbar-brand text-light fs-2" href="/">{{ navHeader }}</a>
    <div class="collapse navbar-collapse" id="page-navigation">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
</div>