<div class="col-auto col-md-3 col-xl-2 px-sm-0 px-0 bg-primary">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
{#        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">#}
{#            <span class="fs-5 d-none d-sm-inline">Sky Cliff Menu     {% block title %}{% endblock %}#}
{#</span>#}
{#        </a>#}
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/" class="nav-link align-middle px-0">
                    <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>

            <a href="/allergies" class="nav-link px-0 align-middle">
                    <i class="fa-solid fa-hand-dots"></i> <span class="ms-1 d-none d-sm-inline">Allergies - future</span></a>
            </li>
            <a href="/diagnoses" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-id-card-clip"></i> <span class="ms-1 d-none d-sm-inline">Diagnoses - future</span></a>
            </li>
            <a href="/medications" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-prescription-bottle"></i> <span class="ms-1 d-none d-sm-inline">Medications</span></a>
            </li>
            <a href="/immunizations" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-syringe"></i> <span class="ms-1 d-none d-sm-inline">Immunizations - future</span></a>
            </li>
            <a href="/visits" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-people-group"></i> <span class="ms-1 d-none d-sm-inline">Visits/Encounters</span></a>
            </li>
            <a href="/procedures" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-mask-face"></i> <span class="ms-1 d-none d-sm-inline">Surgeries/Procedures/Studies</span></a>
            </li>
            <a href="/labs" class="nav-link px-0 align-middle">
                <i class="fa-solid fa-vial"></i> <span class="ms-1 d-none d-sm-inline">Labs - future</span></a>
            </li>


            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">
                        <i class="fa-solid fa-gear"></i></i>Vitals</span> </a>
                {# NOTE Open menuse: this code would show the list upon page load (note the 'show'):#}
                {#     <ul class="collapse show nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">#}
                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100 ms-2">
                        <a href="/blood_pressures" class="nav-link px-0">
                            <i class="fa-solid fa-stethoscope"></i><span class="ms-1 d-none d-sm-inline">Blood Pressure</span></a>
                    </li>
                    <li class="ms-2">
                        <a href="/heightweight" class="nav-link px-0">
                            <i class="fa-solid fa-weight-scale"></i><span class="ms-1 d-none d-sm-inline">Height Weight - future</span></a>
                    </li>
                    <li class="ms-2">
                        <a href="/heartrate" class="nav-link px-0">
                            <i class="fa-solid fa-heart-pulse"></i><span class="ms-1 d-none d-sm-inline">Heart Rate - future</span></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/contacts" class="nav-link px-0 align-middle">
                    <i class="fa-solid fa-address-card"></i> <span class="ms-1 d-none d-sm-inline">Contacts - future</span></a>
            </li>

            <li class="nav-item">
                <hr class="dropdown-divider">
            </li>


{#            <li>#}
{#                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">#}
{#                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard Example</span> </a>#}

{#                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">#}
{#                    <li class="w-100">#}
{#                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}


{#            <li>#}
{#                <a href="#" class="nav-link px-0 align-middle">#}
{#                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>#}
{#            </li>#}



{#            <li>#}
{#                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">#}
{#                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>#}
{#                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">#}
{#                    <li class="w-100">#}
{#                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">
                        <i class="fa-solid fa-gear"></i></i>Settings</span> </a>
                {# NOTE Open menuse: this code would show the list upon page load (note the 'show'):#}
                {#     <ul class="collapse show nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">#}
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100 ms-2">
                        <a href="#" class="nav-link px-0">
                        <i class="fa-solid fa-sliders"></i><span class="ms-1 d-none d-sm-inline">General Settings</span></a>
                    </li>
                    <li class="ms-2">
                        <a href="/users" class="nav-link px-0">
                            <i class="fa-solid fa-people-group"></i><span class="ms-1 d-none d-sm-inline">Users</span></a>
                    </li>
                    <li class="ms-2">
                        <a href="#" class="nav-link px-0">
                                <i class="fa-solid fa-shield"></i><span class="ms-1 d-none d-sm-inline">Security</span></a>
                    </li>
                </ul>
            </li>
{#            <li>#}
{#                <a href="#" class="nav-link px-0 align-middle">#}
{#                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>#}
{#            </li>#}
        </ul>

    </div>
</div>