{% extends 'base.twig' %}

{% block body %}
    <!-- Specific content for template1.twig -->
    <div class="container">
        <h1>Template 1</h1>
        <p>Param1: {{ param1 }}</p>
        <p>Param2: {{ param2 }}</p>
        <p>Param3: {{ param3 }}</p>
    </div>
{% endblock %}
